
body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

.container {
    max-width: 80%;
    margin: 40px auto;
    padding: 30px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    float: left;
    margin-top: 0;
    font-size: 20px;
    color: #2c3e50;
}

nav {
    text-align: right;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
    font-size: 14px;
}

.form-group {
    margin-bottom: 15px;
    text-align: center;
}

.form-group label {
    display: block;
    margin-bottom: 6px;
    font-weight: bold;
    text-align: Left; /* Right-align the text */
    padding-left: 25%; /* Add space to the right */
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="date"] {
   
    width: 50%;
    padding: 10px;
    border: 1px solid #3498db;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    
    
}

.checkbox-group {
   margin-left: 25%;
   flex-wrap: wrap;
    display: flex;
    align-items: center;
    margin-bottom: 5%;
    
    
   
    
}

.checkbox-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 5px;
    margin-left: 20px;
    accent-color: #3498db;
    border-color: #4CAF50;
    border: 2px solid #FF5733;
    cursor: pointer;

   
}

.rating-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 14px;
}

.rating-table th,
.rating-table td {
    border: 1px solid #3498db;
    padding: 10px;
    text-align: center;
}



.rating-table th {
    background-color: #b4b4b48e;
    font-weight: bold;
}

.rating-table td label {
    display: block;
    cursor: pointer;
}

.rating-table input[type="radio"] {
    color: #3498db;
    cursor: pointer;
}

.button-container {
    text-align: center;
    margin-top: 20px;
}

.submit-btn, .back-btn {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.submit-btn:hover, .back-btn:hover {
    background-color: #2980b9;
}

.results-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}

.results-table th,
.results-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

.results-table th {
    background-color: #f2f2f2;
}

.no-data {
    color: #e74c3c;
    font-weight: bold;
    text-align: center;
    padding: 20px;
} 
